@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mynerve&display=swap");

@mixin flex($direction, $justify, $align, $wrap) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  font-family: "Montserrat";
  background-color: #363c41;
}

.title {
  text-align: center;
  margin-top: 2em;

  &__h1 {
    color: whitesmoke;
    font-size: 3em;
  }

  &__img {
    width: 100px;
    margin-bottom: 2em;
  }
}

.search {
  display: flex;
  @include flex(column, center, center, wrap);
  margin-top: 2em;
  gap: 1em;
  color: whitesmoke;
  position: relative;

  &__input {
    width: 60%;
    border: none;
    border-bottom: 1px solid rgb(141, 141, 141);
    outline: none;
    background-color: transparent;
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    caret-color: whitesmoke;
    color: rgb(141, 141, 141);
  }

  &__input::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    background-image: url("./assets/lupa.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
  }
}

.showcase {
  display: flex;
  @include flex(row, flex-start, flex-start, wrap);
  gap: 2em;
  margin-top: 5em;
  width: 90%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;

  .card {
    display: flex;
    @include flex(column, space-between, center, wrap);
    position: relative;
    margin: auto;

    &__img {
      height: 250px;
      border-radius: 20px;
    }

    .cardDetails {
      display: flex;
      @include flex(column, center, center, wrap);
      gap: 0.4em;
      background-color: rgba(0, 0, 0, 0.623);
      width: 100%;
      position: absolute;
      bottom: 0;
      color: whitesmoke;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }
  }
}

.modal{
    border: solid 1px green; 
    height: 300px;
    width: 50%;
    position: fixed;
    top: 20%;
    left: 25%;
    z-index: 99;
}
