@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mynerve&display=swap");

$hoverColor: #cf7f09;
$modalColor: #3c3e44;

@mixin flex($direction, $justify, $align, $wrap) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  font-family: "Montserrat";
  background-color: #363c41;
}

.title {
  text-align: center;
  margin-top: 2em;
  cursor: default;

  &__h1 {
    color: whitesmoke;
    font-size: 3em;
  }

  &__img {
    width: 100px;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 3000px) {

.search {
  display: flex;
  @include flex(column, center, center, wrap);
  margin-top: 2em;
  gap: 1em;
  color: whitesmoke;
  position: relative;

  &__input {
    width: 60%;
    border: none;
    border-bottom: 1px solid rgb(141, 141, 141);
    outline: none;
    background-color: transparent;
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    caret-color: rgb(141, 141, 141);
    color: rgb(141, 141, 141);
  }

  &__input::-webkit-search-cancel-button {
    filter: invert(1);
    cursor: pointer;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    position: relative;
    width: 30%;

    &__h3 {
      font-size: 32px;
    }

    &__button {
      width: 100px;
      background-color: $hoverColor;
      border: solid 1px $hoverColor;
      padding: 0.5em;
      border-radius: 5px;
      color: whitesmoke;
      font-weight: 700;
      cursor: pointer;
      word-spacing: 5px;
      transition: 0.5s;
      margin: auto;

      &:hover {
        background-color: transparent;
        color: $hoverColor;
        border: solid 1px $hoverColor;
        transition: 0.5s;
      }
    }

    .previousButton {
      position: absolute;
      left: 0;
    }
    .nextButton {
      position: absolute;
      right: 0;
    }
  }
}


  
.showcase {
  display: flex;
  @include flex(row, flex-start, flex-start, wrap);
  gap: 2em;
  margin-top: 5em;
  width: 90%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;

  .card {
    display: flex;
    @include flex(column, space-between, center, wrap);
    position: relative;
    margin: auto;
    cursor: pointer;

    &__img {
      height: 250px;
      border-radius: 20px;
      -webkit-box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
      box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
    }

    .cardDetails {
      display: flex;
      @include flex(column, center, center, wrap);
      gap: 0.4em;
      background-color: rgba(0, 0, 0, 0.758);
      width: 100%;
      position: absolute;
      bottom: 0;
      color: whitesmoke;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
      cursor: default;
    }
  }
}

.nobutton {
  display: none;
}

.modal {
  background-color: $modalColor;
  -webkit-box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
  height: 500px;
  width: 50%;
  position: fixed;
  top: 20%;
  left: 25%;
  z-index: 999;
  color: whitesmoke;
  border-radius: 50px;
  display: flex;
  @include flex(row, center, center, wrap);
  gap: 2em;

  &__img {
    width: 200px;
    border-radius: 20px;
    -webkit-box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 22px 0px rgba(0, 0, 0, 0.75);
  }

  &__close {
    cursor: pointer;
    color: whitesmoke;
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 32px;
    transition: 0.3s;

    &:hover {
      color: $hoverColor;
      transition: 0.3s;
    }
  }
}

.modalContainer {
  width: 50%;

  &__h2 {
    color: $hoverColor;
    font-size: 32px;
    font-weight: 900;

    &--id {
      font-weight: 700;
      margin-bottom: 2em;
    }
  }

  &__p {
    margin-bottom: 1em;
    word-spacing: 5px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.73);
}
}

@media screen and (max-width: 900px) {
  .search{
  .pagination{
    width: 80%;
  }
}

  .modal{
    border-radius: 20px;
    width: 90%;
    top: 20%;
    left: 5%;
    gap: 1em;
    height: 500px;

    
    &__img{
      width: 150px;
      margin-top: 20px;
    }

    &__close{
      right: 15px;
      font-size: 22px;
    }
  }
}

.modalContainer{
  width: 80%;
  text-align: center;
  padding-bottom: 2em;

  &__h2{
    font-size: 26px;

    &--id{
      font-size: 24px;
      margin-bottom: 1em;
    }
  }
  &__p{
    margin-bottom: 0.5em;
    font-size: 14px;

    &--location{
      font-size: 14px;
    }
  }
}